[Unit]
Description=Backup $HOME with bup
Documentation=man:bup(1)

[Service]
Environment=BUP_DIR=%h/.bup
Environment=BUP_REMOTE_DIR=compendium:/srv/storage/pool0/backups/%H
Nice=19

Type=oneshot
ExecCondition=sh -c 'ssh -o ConnectTimeout=5s compendium true || exit 1'

# Ignore all exit codes. Failures from bup-index usually indicate that some
# files has the wrong permissions, which shouldn't stop the rest of the backup.
# Failures from bup-save tend to be a file disappearing after indexing, which
# shouldn't mark the unit failed since the backup completed anyway. Neither of
# these are optimal, but bup doesn't provide any leverage over what should
# trigger a non-zero exit.
# This has already bitten me once with a corrupt index file that was preventing
# bup from running at all, so now we run an index check first which we can
# trust the exit code of.
ExecStart=bup index --check
ExecStart=-bup index --exclude=%C --exclude-from=%h/.bup-exclude --xdev %h
ExecStart=-bup save --name=home-%u --commit --remote=${BUP_REMOTE_DIR} %h
