[Unit]
Description=Backup $HOME with bup
Documentation=man:bup(1)

[Service]
Environment=BUP_DIR=%h/.bup
Environment=BUP_REMOTE_DIR=compendium:/srv/storage/pool0/backups/%H
Nice=19

Type=simple
ExecCondition=ssh -o ConnectTimeout=5s compendium true
ExecStartPre=bup index --exclude=%C --xdev %h
ExecStart=bup save --name=home-%u --commit --remote=${BUP_REMOTE_DIR} %h
